.navbar-fixed-top {
	background-color: #343a40;
	
}
body{
	background-color: #fff;

}
.sidebar-wrapper {
  border-radius: 0;
  
  background-color: #343a40;
  padding-top: 70px;
 
}

.sidebar-nav{
	padding:0;
	
}

.sidebar-nav li {
	margin-top: 20px;
	font-weight: bold;
	list-style-type: none;
}

.content.col-md-10{
	min-height: 35em;
}

 #com, #article{
	color:#fff;
	font-weight: bold;
}

a#com:active{
	color:#2becff;
	font-weight: bold;
}

.sidebar-nav li a i{
	margin-right: 10px;
}

#com:hover, #article:hover{
	color: #2becff;
}

#off{
	color:#fff;
}

#off:hover{
	color: #e51a1a;
}

.navbar-brand{
	font-size: 1.2em;
	margin-left: 10px;
	color: #fff;
	font-weight: bold;
}

.content.col-md-10{
	background-color: #fff;
	height: 100%;
  
}

a:hover{
	text-decoration: none;
	color: #00ddf3;
}

h1{
	margin: 40px;
	margin-right: 40px;
}

.button {

	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	padding:9px 19px;
	text-decoration:none;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 20px;
	margin-left: 20px;
	font-weight: bold;
}
.button:hover {
	background-color:#eb675e;
}
.button:active {
	position:relative;
	top:1px;
}

#creer{
	-moz-box-shadow:inset 0px 39px 0px -24px #3fb7c4;
	-webkit-box-shadow:inset 0px 39px 0px -24px #3fb7c4;
	box-shadow:inset 0px 39px 0px -24px #01b6d3f7;
	background-color:#00b0cc;
}

#brouillon{
	-moz-box-shadow:inset 0px 39px 0px -24px #999999;
	-webkit-box-shadow:inset 0px 39px 0px -24px #999999;
	box-shadow:inset 0px 39px 0px -24px #787c82;
	background-color:#71757c;
}

#corbeille{
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #b40b00;
	background-color:#a50000;
}

.table{
	font-weight: bold;
    background-color: #fcfcfc;
    /* #fafafa */
}

th{
	text-align: center;
	font-size: 0.9em;
}

td{
	color:#55616c;
	font-size: 0.9em;
}

.tdContent p{
	font-family: 'Poiret One', cursive;
	margin: 0;

}

.tdDate{
	font-size: 0.8em;
}

#publish, #draft{
	margin: 20px;
	font-weight: bold;
}

h2.navbar-brand{
	margin: 0;
}

.rightButtons{
	position: absolute;
    right: 3em;
}

#retour{
	color: #fff;
}

.jc-bs3-row.row.justify-content-md-center.justify-content-sm-center.justify-content-xs-center.justify-content-lg-center{
	font-weight: bold;
	
}

#idHidden{
	/*display: none;
}

